.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.container {
  width: 700px;
}

.wrapper {
  display: contents;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 80px;
}

.completed {
  text-decoration: line-through;
}

.uncompleted {
  text-decoration: none;
}


